.liftDetails-container {
    margin: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsla(0,0%,100%,0.40);
    height: fit-content;
    width: fit-content;
    border: .25em outset whitesmoke;
    padding: .25em;
}

.liftDetails-title {
    /* border-bottom: .25em outset whitesmoke; */
    /* text-decoration: underline .25em outset whitesmoke; */
}