.new-goal-container {
    margin-left: 10em;
    margin-top: 10em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsla(0,0%,100%,0.40);
    height: fit-content;
    width: fit-content;
    border: .25em outset whitesmoke;
    padding: .25em;
}